@base: black;
@tttBoardBorderSize: 3px;

@primary: #428bca;
@success: #5cb85c;
@info:    #5bc0de;
@warning: #f0ad4e;
@danger:  #d9534f;


.left {
  float: left;
  height: 100%;
  margin-left: 20px;
}

.right {
  margin-left: 400px;
  height: 100%;
}

.inner_right {
  margin-left: 200px;
  height: 100%;
}

.centered_cotents {
  text-align: center;
}

.warn {
  background-color: pink;
}
