<!doctype html>
<html ng-app="gameApp">
  <head>
    <script src="libs/jquery.js"></script>

    <script src="libs/prelude-browser.js"></script>


    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular/angular-route.js"></script>
    <script src="libs/angular/angular-resource.js"></script>
    <script src="libs/bootstrap/bootstrap.js"></script>

    <script src="client.js"></script>


    <link rel="stylesheet" href="client.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.css">


  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MtGProxy</a>
          <p class="navbar-text">Printing proxies should be easy...</p>
        </div>
      </div>
    </nav>

    <div ng-view>
    </div>
    <div ng-controller="errorController">
      <!--button ng-click="clear()">Clear</button-->
      <ul>
        <li ng-repeat="error in errors track by $index" >{{error}}</li>
      </ul>
    </div>
  </body>
</html>
