

<div class="left">
  <textarea rows="25" cols="50" ng-model="deck">
  </textarea>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="skipBasicLands"> skip basic lands ?
    </label>
  </div>
</div>
<div class="right">

  <div class="left centered_cotents">
    <button class="btn btn-default" ng-click="generate()" ng-disabled="isGenerating" >Generate ...</button>
    <div style="margin-top:20px;">
      <div ng-if="isGenerating">Generating ...</div>
      <div ng-if="hasLink">
        <a href="{{link}}" target="_blank">View</a> |
        <a href="{{link}}" download>Download</a>
      </div>
      <div ng-if="!isGenerating && !hasLink">&nbsp</div>
      </div>
    <h2>{{requestCount}}</h2>
    <i><small>pdf requests served</small></i>
  </div>

  <div class="inner_right">
    <h3> instructions </h3>
    <ul>
      <li>paste your deck in the window on the left</li>
      <li>click the <b>Generate...</b> button</li>
      <li>wait for the pdf to be generated</li>
      <li>download or view your pdf</li>
    </ul>
    <h3> features </h3>
    <ul>
      <li>the printout contains the decklist and the sideboard on the first page</li>
      <li>only the relevant details are printed on the proxy card</li>
      <li>sideboard cards are clearly marked on the proxy</li>
      <li>9 cards generated per A4 page</li>
    </ul>
    <h3> notes </h3>
    <ul>
      <li>compatable with most standard deck formtats (look here for examples)</li>
      <li>the card name has to exectly correct (including case)</li>
      <li>the download will expire in about 30 minutes. don't worry, you can always regenerate the pdf</li>
    </ul>
    <h3> thanks </h3>
    <ul>
      <li>a huge thanks to Robert Schultz for <a href="http://mtgjson.com">mtgjson.com</a></li>
      <li>thanks to WotC for creating an awsome game</li>
    </ul>
  </div>
</div>
