

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <textarea rows="15" cols="50" ng-model="deck">
    </textarea>
  </div>
  <div class="col-md-2 row-centered">
    <button class="btn btn-default" ng-click="generate()" ng-disabled="status=='Generating...'" >Generate ...</button>
    <br>
    <a href="{{link}}" ng-if="status.length>0" target="_blank">{{status}}</a>
    <br>
    <br>
    <h2>{{requestCount}}</h2>
  </div>
  <div class="col-md-4">
    <h3> instructions </h3>
    <ul>
      <li>past your deck in the window</li>
      <li>click Generate</li>
      <li>wait for the pdf to be generated</li>
      <li>download your pdf</li>
    </ul>
    <h3> notes </h3>
    <ul>
      <li>i don't generate plain land proxies</li>
      <li>i don't (yet) understand things like x's etc between between the count and the card name</li>
      <li>the card name has to exectly correct (including case)</li>
      <li>the download will expire in about 30 minutes. Dont worry, you can always regenerate the pdf</li>
    </ul>
    <h3> thanks </h3>
    <ul>
      <li></li>
    </ul>

  </div>
</div>
